@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  /* BG COLOR */
  --bg-color: #0a1f14;

  /* GREEN COLOR FOR BUTTON AND TEXT */
  --light-green: #34c786;
  --medium-green: #1f8a51;
  --dark-green: #197347;

  /* FONT COLOR */
  --light-color: #fff;
  --dark-color: #1d1d1d;

  /* BORDER COLOR */
  --border-color: #7f7f7f;
}

body {
  background-color: var(--bg-color);
}

.main {
  display: flex;
}

/* SIDEBAR STYLES */

.image-sidebar {
  width: 40%;
  height: 100vh;
}

.image-sidebar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* FORM SECTION STYLES */

.paragraph-container,
.form-container,
.button-container {
  padding: 2rem;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.form-text,
.form-text2 {
  color: var(--light-color);
  font-weight: 500;
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  box-shadow: 5px 1px 8px 1px var(--light-green);
  margin-bottom: 2rem;
}

.form-header {
  margin-bottom: 1rem;
  color: var(--dark-color);
}

.form-control-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  color: var(--dark-color);
}

.form-control input {
  width: 200px;
  height: 40px;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.form-control label {
  color: var(--dark-color);
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

/* BUTTON STYLES */

.create-btn,
.button-container p {
  color: var(--light-color);
}

.create-btn {
  background-color: var(--medium-green);
  font-size: 1rem;
  width: 30%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
}

.create-btn:hover {
  background-color: var(--dark-green);
}

.button-container a {
  color: var(--light-green);
}

.button-container a:hover {
  color: var(--medium-green);
}
